@page
@model EComm_Project.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Posh Pauper";
}

   



<div class="card">
    <img class="card-img" src="https://i.imgur.com/EYNFTAo.jpg?1" width="1500" height="500" alt="Card image">
    
    <div class="card-img-overlay">
        <h2 class="display-4"><b><small>Posh Pauper's Historic Transformation</small></b></h2>
        <p class="lead"> <b> Started out of a garage in 2003, the Posh Pauper has grown into an International source of only the highest quality vintage outerwear, shirts, custom fabrics, and 1 of 1 pieces.
    During Pauper's infancy, Damon attended a commerce seminar and met Moiz, where they discussed how to further scale the blooming flower of a business that was forming in front of them.
    Moiz contributed greatly to the backbone of the business, but some of the product sourcing was lacking in consistency, at times there would be weeks of sold out inventory because Pauper failed to get a constant stream of reliable products.
    If the business were to grow, it needed a solid flow of products to ensure buoyancy in the secondary clothing market. That is where Ioana came into the picture.
    Her reliable European connections, combined with Moiz's next level business commerce solutions, and Damon's impeccable brand vision and taste transformed the Posh Pauper from a garage based home business to one of the largest curated secondhand clothing retailers.
        </b>
        
        
        </p>

    </div>
</div>

<br />

    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <b>Chief Executive Officer, Co-Founder</b>
            </div>
            <img class="card-img-top" src="https://i.imgur.com/gfGhhW6.jpg?1" alt="Damon, CEO">

                <div class="card-body">
                <h4 class="card-title">Damon Nicholas</h4>
                <p class="card-text">After graduing with his PhD in Linguistics from MIT and entering the workforce, Damon decided that the entrepreneur path was a better fit for what he wanted in life. 
                    He started shipping portions of his clothing collection out to buyers on the weekend, and eventually, after the IRS caught on, registered his business and started working on his passion full time. </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b> Chief Commerce Officer, Co-Founder</b>
            </div>

            <img class="card-img-top" src="https://i.imgur.com/GSloLYx.png?1" alt="Moiz, CCO">

            <div class="card-body">
                <h4 class="card-title">Moiz Samee</h4>
                <p class="card-text">With his father being commerce legend Samuel Samee, it was simply expected that Moiz follow his path in life. 
                From his early teens, Moiz showed a real passion for logistics structure, and by his early twenties, published the New York Times Bestseller, <i>My Logistics Structure and Me, Moiz Samme</i>.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b>Chief Sourcing Officer, Co-Founder</b>
            </div>

            <img class="card-img-top" src="https://i.imgur.com/f40pu9L.png?1" alt="Ioana, CEO">

            <div class="card-body">
                <h4 class="card-title">Ioana Guna</h4>
                <p class="card-text">Upon receiving her degree in Textile Design from the London College of Fashion, Ioana returned to Romania for several years to further develop her craft. 
                Becoming more distasteful towards the world of fast fashion, Ioana delved into the secondhand market, where she became a regional supplier of vintage clothing and accessories in Eastern Europe. Looking for new opportunities. </p>
            </div>
        </div>
    </div>

