@page
@model EComm_Project.Pages.HelpModel
@{ ViewData["Title"] = "Ordering Help";
}



<div class="inner cover">
    <h1 class="cover-heading">Want to order one of our products? We have you covered.</h1>
    <p></p>
    <p class="lead"> Because of the limited nature of Pauper's products, orders are filled out catalogue style by customers to prevent mass order botting.
</div>

<ul class="list-group">
    <li class="list-group-item list-group-item-dark"><b>Ordering Instructions</b></li>
    <li class="list-group-item"><b>1.</b> When you find a piece that you would like to purchase from the Posh Pauper, take note of the product ID.</li>
    <li class="list-group-item">
        <b>2.</b> From there, click the "Add to Cart" button on the product page. An image of the button is shown below for reference.
        <form method="post">
            <img src="https://i.imgur.com/xSsgsLY.png" alt="button" />
        </form>
    </li>
    <li class="list-group-item">
        <b>3.</b> As shown below, simply enter the Product ID of the item you wish to purchase, quantity, and the price you wish to pay.
        <p></p>
        <img src="https://i.imgur.com/kUAuoTx.png?1" alt="Order Product">

    </li>
    <li class="list-group-item list-group-item-danger"><i>*Note: Prices are negiotiable, if you wish to make an offer, enter a different order price than the one listed and your offer will be considered after the order is placed. If it is cancelled, your offer has been rejected.</i></li>
    <li class="list-group-item"><b>4.</b> After your order has been created, adding your payment details to the order and submitting it will send the order to our server and redirect you to our product homepage.</li>
    <li class="list-group-item"><b>5.</b> Wait patiently for your product to be delivered to your door.</li>
</ul>
