@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["notice"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Order Placed Successfully.
    </div>
}

<div class="text-center">
    <h1 class="display-4">Posh Pauper's Products</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">Click here to learn about Posh Pauper's History</a></p>
</div>

<div class="row">
    <form method="post">
        <div class="form-group">
            <input type="submit" value="Add To Cart" class="btn btn-primary" asp-page-handler="AddToCart" />
        </div>
    </form>
</div>

<div class="row">
    <form method="post">
        <div class="form-group">
            <input type="submit" value="View Cart" class="btn btn-primary" asp-page-handler="ViewCart" />
        </div>
    </form>
</div>


<div class="row">

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/TNsmdIR.jpg" class="card-img-top" alt="Repeatabulls Shirt">
            <div class="card-body">
                <h5 class="card-title">Vintage 92' <i>"Reapeatabulls"</i> Shirt</h5>
                <p class="card-text">Product ID: 1  |  $45  |  Quantity: 3  <br>  Size: Large </p>
            </div>

        </div>

    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/F7jc6vH.jpg" class="card-img-top" alt="Harly Davidson Cincinnati Shirt">
            <div class="card-body">
                <h5 class="card-title">H.D. Cincinnati Vinyl Printed Shirt</h5>
                <p class="card-text">Product ID: 2  |  $30  | Quantity: 2  <br>  Size: Medium </p>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/nudwTPF.jpg" class="card-img-top" alt="Steelers Longsleeve">
            <div class="card-body">
                <h5 class="card-title">Steelers 95' Printed Shirt</h5>
                <p class="card-text">Product ID: 3 |  $55  |  Quantity: 1  <br>  Size: Large </p>
            </div>

        </div>

    </div>
</div>

<div class="row">

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/sCPFlOv.jpg" class="card-img-top" alt="TNF Jacket">
            <div class="card-body">
                <h5 class="card-title">The North Face Coach's Jacket</h5>
                <p class="card-text">Product ID: 4  |  $30  | Quantity: 14  <br>  Size: Medium  </p>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/b1M6v9j.jpg" class="card-img-top" alt="Striped Sweater">
            <div class="card-body">
                <h5 class="card-title">Striped Cotton Sweater</h5>
                <p class="card-text">Product ID: 5  |  $50  | Quantity: 2  <br>  Size: Medium, fits like Large</p>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/GvWLKMr.jpg" class="card-img-top" alt="Jansport Windbreaker">
            <div class="card-body">
                <h5 class="card-title">Jansport Kangaroo Windbreaker</h5>
                <p class="card-text">Product ID: 6  |  $27  |  Quantity: 5  <br>  Size: Med-XLarge, downsize for normal fit<p>
            </div>

        </div>

    </div>
</div>

<div class="row">

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/KRhqVu0.jpg" class="card-img-top" alt="Ski Jacket">
            <div class="card-body">
                <h5 class="card-title">80's Dude-Bro Ski Jacket</h5>
                <p class="card-text">Product ID: 7  |  $40  |  Quantity: 4  <br>  Size: Small-Large </p>
            </div>

        </div>

    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/iG7iC1M.jpg" class="card-img-top" alt="Zenith Jean Jacket">
            <div class="card-body">
                <h5 class="card-title">Custom Zenith Jean Jacket</h5>
                <p class="card-text">Product ID: 8  |  $145  |  Quantity: 1  <br>  Size: Medium</p>
            </div>

        </div>

    </div>

    <div class="col-sm-4">
        <div class="card h-100">
            <img src="https://i.imgur.com/XfA2APS.jpg" class="card-img-top" alt="Chicago Bulls Windbreaker">
            <div class="card-body">
                <h5 class="card-title">90's Chicago Bulls Bootleg Windbreaker</h5>
                <p class="card-text">Product ID: 9  |  $50  | Quantity: 3  <br>  Size: Small-Large, fits big</p>
            </div>

        </div>

    </div>

</div>
