@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (TempData["notice"] != null)
{
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Order Placed Successfully.
</div>
}


















































































































<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <form method="post">
        <div class="form-group">
            <input type="submit" value="Add To Cart" class="btn btn-primary" asp-page-handler="AddToCart" />
        </div>
    </form>
</div>

<div class="row">
    <form method="post">
        <div class="form-group">
            <input type="submit" value="View Cart" class="btn btn-primary" asp-page-handler="ViewCart" />
        </div>
    </form>
</div>

