@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <form method="post">
        <div class="form-group">
            <input type="submit" value="Add To Cart" class="btn btn-primary" />
        </div>
    </form>
</div>
