@page
@model EComm_Project.Pages.StatsForNerdsModel
@{
}
<style>
    .h1{
        align-content:center;
        text-align:center
    }
    
</style>
<h1 > Stats for Nerds</h1>

<img src="https://image.cnbcfm.com/api/v1/image/105229432-GettyImages-664861382.jpg?v=1576703153&w=1400&h=950" alt="Girl in a jacket" width="400" height="300" >

<div class="card" style="width: 18rem;">
    <h1> </h1>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
</div>